<h1>User Created Events</h1>
<% @events.each do |event| %>
  <ul>  
    <li>
      <h3><%= event.title %></h3>
      <%= event.description %><br>
      <%= event.date %><br>
    </li>
  </ul><% end %>